* {
  margin: 0;
  padding: 0;
  /* color: aliceblue; */
}

body {
  /* background-color: black; */
}

#main-title {
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 100px; */
  margin-bottom: 15px;
}

.picture {
  border-radius: 50px;
  left: 200px;
}

header {
  display: flex;
  background-color: rgb(17, 119, 85);
  border-radius: 15px;
  margin: 15px;
}

header img {
  width: 150px;
  border-radius: 15px;
}

header a{
  font-size: 35px;
}

#header {
  /* background-image: url(/fotoretangula.png) ; */
  background-position: 15% 50%;
  background-size: cover;
  padding: 60px 30px 20px 10px;
  /* border: solid black; */
  

}
#header-content {
  max-width: 70%;
  margin-left: 75px;
}

#header-text{
  max-width: 60%;
  text-align: left;
  margin-bottom: 20px;

}




.section-caracters {
  padding: 30px;
  color: blue;
  margin: 10px;
  border: green;

}